<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('/head', { title: `${blogName} - ${title}`, prefixPath, description: '' }) %>
    <link rel="stylesheet" href="<%= prefixPath %>/css/post.css?v=3" />
    <link rel="stylesheet" href="<%= prefixPath %>/css/md.css?v=1" />
</head>
<body class="yxx-paper post-page">
<div class="post">
    <h1 class="post-title"><%= title %></h1>
    <div class="post-base-info">
        <div class="bi-item">
            <span><%= new Date(publishTime).toISOString().slice(0, 10) %></span>
        </div>
    </div>
    <article class="markdown-body post-content"><%- postHTML %></article>
    <!-- copyright part -->
    <table class="post-copyright-panel">
        <tbody>
            <tr class="author">
                <td>作者：</td>
                <td><a target="_blank" rel="noreferrer" href="https://github.com/alanwei0">Alan Wei</a></td>
            </tr>
            <tr class="post-url">
                <td>文章链接：</td>
                <td><a href="<%= domain + prefixPath + url %>"><%= title %></a></td>
            </tr>
            <tr class="copyright-of-post">
                <td>版权声明：</td>
                <td>本文采用&nbsp;<a rel="noreferrer" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">CC BY-NC-ND 3.0</a>&nbsp;许可协议。</td>
            </tr>
        </tbody>
    </table>
    <!-- copyright part end -->
</div>

<!--  post jump -->
<div class="post-jump" style="display: <%= (previous || next) ? 'block' : 'none' %>">
    <% if (next) { %>
        <div class="btn next-btn">
            <span>下一篇：</span>
            <a href="<%= prefixPath + next.url %>"><%= next.title %></a>
        </div>
    <% } %>
    <% if (previous) { %>
        <div class="btn prev-btn">
            <span>上一篇：</span>
            <a href="<%= prefixPath + previous.url %>"><%= previous.title %></a>
        </div>
    <% } %>
</div>
<!--  post jump end -->

<!-- comment part -->
<!-- comment part end -->
<%- include('/footer', { prefixPath }) %>
</body>
</html>
