<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('/head', { title: `${blogName} - ${title}`, prefixPath }) %>
    <link rel="stylesheet" href="<%= prefixPath %>/css/post.css" />
</head>
<body class="yxx-paper post-page">
<div class="post">
    <h1 class="post-title"><%= title %></h1>
    <div class="post-base-info">
        <div class="bi-item">
            <span><%= new Date(publishTime).toISOString().slice(0, 10) %></span>
        </div>
    </div>
    <div class="post-content"><%- postHTML %></div>
    <!-- copyright part -->
    <table class="post-copyright-panel">
        <tbody>
            <tr class="post-url">
                <td>文章链接：</td>
                <td><a href="<%= domain + prefixPath + url %>"><%= title %></a></td>
            </tr>
            <tr class="copyright-of-post">
                <td>版权声明：</td>
                <td>文章采用&nbsp;<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">CC BY-NC-ND 3.0</a>&nbsp;许可协议!</td>
            </tr>
        </tbody>
    </table>
    <!-- copyright part end -->
</div>

<!--  post jump -->
<div class="post-jump" style="display: <%= (previous || next) ? 'block' : 'none' %>">
    <% if (previous) { %>
        <a href="<%= prefixPath + previous.url %>" class="btn prev-btn"><%= previous.title %></a>
    <% } %>
    <% if (next) { %>
        <a href="<%= prefixPath + next.url %>" class="btn next-btn"><%= next.title %></a>
    <% } %>
</div>
<!--  post jump end -->

<!-- comment part -->
<!-- comment part end -->
<%- include('/footer') %>
</body>
</html>
