<!DOCTYPE html>
<html lang="en">
  <% include('head', { title }) %> 
<body>
  <div class="post-title"><%= title %></div>
  <div class="post-base-info">
    <div class="bi-item">
      <span>发布时间: </span>
      <span><%= createTime %></span>
    </div>
  </div>
  <div class="post-content"><%- postContent %></div>
  <!-- copyright part -->
  <div class="post-copyright-panel">
    <div class="cr-item post-url">
      <span>文章链接：</span>
      <span><%= postUrl %></span>
    </div>
    <div class="cr-item copyright-of-post">
      <span>版权声明：</span>
      <span>本网站所有文章均采用<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">CC BY-NC-ND 3.0</a>许可协议，转载请注明出处!</span>
    </div>
  </div>  
  <!-- copyright part end -->

  <!--  post jump -->
  <div class="post-jump" style="display: <%= (previous || next) ? 'block' : 'none' %>">
    <% if (previous) { %>
      <a href="<%= previous.url %>" class="btn prev-btn"><%= previous.title %></a>
    <% } %>
    <% if (next) { %>
      <a href="<%= next.url %>" class="btn next-btn"><%= next.title %></a>
    <% } %>
  </div>
  <!--  post jump end -->

  <!-- comment part -->
  <!-- comment part end -->
  <% include('footer') %> 
</body>
</html>