<!DOCTYPE html>
<html lang="en">
<%- include('/head', { title: blogName }) %>
<body>
<div class="blog-name"><%= blogName %></div>
<div class="post-list">
    <% postGroups.forEach(({ year, posts }) => { %>
    <div class="post-group">
        <h2 class="year"><%= year %></h2>
        <ol>
            <% posts.forEach(post => { %>
            <li><time><%= new Date(post.publishTime).toISOString().slice(5, 10) %></time><a class="post-title" href="<%= post.url %>"><%= post.title %></a></li>
            <% }) %>
        </ol>
    </div>
    <% }) %>
</div>
<%- include('/footer') %>
</body>
</html>
